---
title: Smart Contract Reference

language_tabs: # must be one of https://git.io/vQNgJ
- javascript

toc_footers:
- <a href='https://github.com/animocabrands/ethereum-contracts-core_library'>Smart Contract repository</a>

# includes:
# - errors

search: true
---

# Introduction

Welcome to the Animoca Brands Ethereum smart contracts core library documentation.

# Setting Up

> You can clone and setup the repo via the following:

```
git clone https://github.com/animocabrands/ethereum-contracts-core_library
cd ethereum-contracts-core_library
yarn
```


# Contracts ABI
